<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-label/iron-label.html">

<dom-module id="pw-form">
  <template>
    <style>
      :host {
        display: block;
      }
      .primary{
        color: white;
        background-color: mediumblue;
      }
      .danger{
        color: white;
        background-color: red;
      }
      div{
        display: flex;
        justify-content: space-around;
      }
      table{
        width: 100%;
        border: solid 1px black;
      }
      th {
        background-color: blue;
        color: white;
      }
    </style>
    <iron-form id="ironForm">
        <form action="[[action]]" method="[[method]]" enctype="[[enctype]]" id="form">
          <div>
            <paper-input
              always-float-label
              label="Nombre"
              required
              type="text"
              auto-validate
              name="name"
              pattern="^[a-zA-Z\s]{7,}$"
              value={{name}}
              placeholder="Nombre"
            ></paper-input>
            <paper-input
              always-float-label
              label="Email"
              required
              type="email"
              auto-validate
              name="email"
              pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
              value={{email}}
              placeholder="Email"
            ></paper-input>
          </div>
          <div>
            <paper-input
              always-float-label
              label="Telefono"
              required
              type="tel"
              auto-validate
              name="tel"
              value={{tel}}
              placeholder="Teléfono"
            ></paper-input>
            <iron-label for="Sexo" style="width: 35%;">Sexo
              <paper-radio-group id="Sexo" selected="{{sexo}}">
                <paper-radio-button name="F">F</paper-radio-button>
                <paper-radio-button name="M">M</paper-radio-button>
              </paper-radio-group>
            </iron-label>
          </div>
          <br/>
          <div>
            <paper-button raised on-click="__sendHandler" class="primary">Enviar</paper-button>
            <paper-button raised on-click="__cancelHandler" class="danger">Cancelar</paper-button>
          </div>
        </form>
      </iron-form>
  
      <iron-ajax
        id="put"
        method="PUT"
        url="https://api.myjson.com/bins/j46ef"
        body="[[data]]"
        content-type="application/json"
        handle-as="json"
        on-response="__responseHandler"
        on-error="__errorResponseHandler"
      ></iron-ajax>
  
      <iron-ajax
        auto
        id="get"
        method="GET"
        url="https://api.myjson.com/bins/j46ef"
        handle-as="json"
        on-response="__responseGetHandler"
        on-error="__errorResponseHandler"
      ></iron-ajax>
      <br>
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Sexo</th>
          </tr>
        </thead>
        <tbody>
          <template is="dom-repeat" items="[[data]]">
            <tr>
              <td>[[item.name]]</td>
              <td>[[item.email]]</td>
              <td>[[item.tel]]</td>
              <td>
                <template is="dom-if" if="[[_isEqualTo(item.sexo, 'M')]]">Masculino</template>
                <template is="dom-if" if="[[_isEqualTo(item.sexo, 'F')]]">Femenino</template>
              </td>
            </tr>
          </template>
        </tbody>
      </table>  
  </template>
  
    <script>
      class PwForm extends Polymer.Element {
        static get is() { return 'pw-form'; }
        static get properties() {
          return {
            name: {
              type: String
            },
            email: {
              type: String
            },
            tel: {
              type: String
            },
            sexo:{
              type: String, value:'F'
            },
            data: {
              type: Array
            }
          };
        }

        _isEqualTo(valor, string) {
          return valor == string;
        }
  
        __sendHandler() {
          this.data = [...this.data, ...[{ name: this.name, email: this.email, tel: this.tel, sexo:this.sexo }] ];
          this.$.put.generateRequest();
        }
  
        __cancelHandler() {
          console.log(this.$);
          this.$.ironForm.reset();
        }
  
        __errorResponseHandler(e) {
          console.log(e.detail)
        }
  
        __responseHandler(e) {
         console.log(e.detail);
        }
  
        __responseGetHandler(e) {
          console.log(e);
          const ironRequestInst = e.detail;
          if (ironRequestInst.status === 200) {
            this.data = ironRequestInst.response;
          }
        }
      }
  
      window.customElements.define(PwForm.is, PwForm);
    </script>
</dom-module>
